Repository chertik77/TaskPro-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix -f mo, eslint -f mo, tsc-files --noEmit src/vite-env.d.ts

feat: add reusable form component to enhance form handling
  src/app/index.css
  src/blocks/kanban-board/filters/Filters.tsx
  src/entities/board/components/FormBgImageSelector.tsx
  src/entities/board/components/FormIconSelector.tsx
  src/entities/board/components/RadioInputBgImages.tsx
  src/entities/board/components/RadioInputIcons.tsx
  src/entities/board/index.ts
  src/entities/card/components/FormDeadlinePicker.tsx
  src/entities/card/components/FormPrioritySelector.tsx
  src/entities/card/components/PriorityRadioGroup.tsx
  src/entities/card/index.ts
  src/features/board/add-board/components/AddBoardModal.tsx
  src/features/board/edit-board/components/EditBoardModal.tsx
  src/features/board/edit-board/hooks/useEditBoardForm.ts
  src/features/card/add-card/components/AddCardModal.tsx
  src/features/card/edit-card/components/EditCardModal.tsx
  src/features/card/edit-card/hooks/useEditCardForm.ts
  src/features/card/filter-cards/components/PriorityFilter.tsx
  src/features/column/edit-column/components/EditColumnModal.tsx
  src/features/column/edit-column/hooks/useEditColumnForm.ts
  src/features/user/change-theme/components/ThemeSelect.tsx
  src/shared/ui/Field.tsx
  src/shared/ui/Form.tsx
  src/shared/ui/PasswordField.tsx
  src/shared/ui/index.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc-files --noEmit src/vite-env.d.ts

fix: minor updates & improvements
  src/blocks/kanban-board/card/CardList.tsx
  src/blocks/kanban-board/card/CardListItem.tsx
  src/blocks/kanban-board/column/ColumnList.tsx
  src/blocks/kanban-board/column/ColumnListItem.tsx
  src/blocks/sidebar/SidebarBoardList.tsx
  src/blocks/sidebar/SidebarBoardListItem.tsx
  src/features/auth/google/components/GoogleSignin.tsx
  src/features/auth/google/hooks/useSigninUserWithGoogle.ts
  src/shared/hooks/useIsFormReadyForSubmit.ts
  src/shared/ui/Button.tsx
  src/shared/ui/PlusButton.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc-files --noEmit src/vite-env.d.ts

fix: minor updates & improvements
  src/features/user/edit-profile/components/EditProfileModal.tsx
  src/features/user/edit-profile/hooks/useEditProfileForm.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc-files --noEmit src/vite-env.d.ts

fix: minor updates & improvements
  src/features/column/edit-column/hooks/useEditColumnForm.ts
  src/shared/hooks/useIsFormReadyForSubmit.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc-files --noEmit src/vite-env.d.ts

perf: add autoCodeSplitting for tanstack react router to improve bundle size
  src/app/routes/(auth)/_auth-layout.signin.lazy.tsx
  src/app/routes/(auth)/_auth-layout.signin.tsx
  src/app/routes/(auth)/_auth-layout.signup.lazy.tsx
  src/app/routes/(auth)/_auth-layout.signup.tsx
  src/app/routes/(dashboard)/dashboard.index.lazy.tsx
  src/app/routes/(dashboard)/dashboard.index.tsx
  src/shared/lib/react-router/routeTree.gen.ts
  vite.config.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc-files --noEmit src/vite-env.d.ts

perf: add autoCodeSplitting for tanstack react router to improve bundle size
  src/app/routes/(auth)/_auth-layout.signin.lazy.tsx
  src/app/routes/(auth)/_auth-layout.signin.tsx
  src/app/routes/(auth)/_auth-layout.signup.lazy.tsx
  src/app/routes/(auth)/_auth-layout.signup.tsx
  src/app/routes/(dashboard)/dashboard.index.lazy.tsx
  src/app/routes/(dashboard)/dashboard.index.tsx
  src/shared/lib/react-router/routeTree.gen.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc-files --noEmit src/vite-env.d.ts

fix: remove autoSplitting for now
  vite.config.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc-files --noEmit src/vite-env.d.ts

fix(bug): when dragging card or column there is white dot next to li tag
  src/blocks/kanban-board/card/CardListItem.tsx
  src/blocks/kanban-board/column/ColumnListItem.tsx
  src/shared/lib/react-router/routeTree.gen.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc-files --noEmit src/vite-env.d.ts

perf: add dnd kit to chunks to reduce bundle size
  vite.config.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc-files --noEmit src/vite-env.d.ts

fix(bug): on edit profile modal refresh button was not disabled
  package.json
  src/entities/user/model/types.ts
  src/features/user/edit-profile/components/EditProfileModalTrigger.tsx
  src/features/user/edit-profile/hooks/useEditProfileForm.ts
  src/shared/hooks/useIsFormReadyForSubmit.ts
  yarn.lock
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc-files --noEmit src/vite-env.d.ts

fix: minor updates & improvements
  src/blocks/kanban-board/card/CardList.tsx
  src/blocks/kanban-board/column/ColumnList.tsx
  src/blocks/kanban-board/column/ColumnListItem.tsx
  src/features/card/add-card/components/AddCardModalTrigger.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc-files --noEmit src/vite-env.d.ts

fix: minor updates & improvements
  src/features/column/add-column/components/AddColumnTrigger.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc-files --noEmit src/vite-env.d.ts

fix: minor updates & improvements
  src/blocks/kanban-board/dnd/KanbanDragOverlay.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc-files --noEmit src/vite-env.d.ts

style: change bg color of sidebar on light theme
  src/blocks/sidebar/Sidebar.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc-files --noEmit src/vite-env.d.ts

chore: update README.md
  README.md
Due: none

chore(deps): successfull migration to react 19
  package.json
  src/blocks/kanban-board/card/CardListItem.tsx
  src/blocks/kanban-board/column/ColumnListItem.tsx
  src/entities/card/components/PriorityRadioGroup.tsx
  src/shared/ui/Button.tsx
  src/shared/ui/Form.tsx
  src/shared/ui/Input.tsx
  src/shared/ui/PasswordInput.tsx
  src/shared/ui/TextArea.tsx
  yarn.lock
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc-files --noEmit src/vite-env.d.ts

feat: add api call for current user, fix error that input should be controlled
  src/app/providers/ToastProvider.tsx
  src/entities/auth/@x/user.ts
  src/entities/board/components/FormBgImageSelector.tsx
  src/entities/user/@x/board.ts
  src/entities/user/api/endpoints.ts
  src/entities/user/api/service.ts
  src/entities/user/hooks/useGetCurrentUser.ts
  src/entities/user/index.ts
  src/features/auth/signin/components/SigninForm.tsx
  src/features/auth/signup/components/SignupForm.tsx
  src/features/board/add-board/components/AddBoardModal.tsx
  src/features/card/add-card/components/AddCardModal.tsx
  src/features/column/add-column/components/AddColumnModal.tsx
  src/features/user/change-theme/components/ThemeSelect.tsx
  src/features/user/change-theme/hooks/useChangeTheme.ts
  src/features/user/edit-profile/components/EditAvatar.tsx
  src/features/user/edit-profile/components/EditProfileModalTrigger.tsx
  src/features/user/edit-profile/hooks/useEditProfile.ts
  src/features/user/need-help/components/NeedHelpModal.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc-files --noEmit src/vite-env.d.ts

fix: remove staleTime from currentUser query to refresh user manually
  src/entities/user/hooks/useGetCurrentUser.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc-files --noEmit src/vite-env.d.ts

feat: add link preloading for router
  src/shared/lib/react-router/router.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc-files --noEmit src/vite-env.d.ts

feat: add logic for refreshing current user without ui lagging
  src/app/providers/ToastProvider.tsx
  src/app/routes/(dashboard)/dashboard.tsx
  src/entities/auth/model/store.ts
  src/entities/board/components/FormBgImageSelector.tsx
  src/entities/user/@x/auth.ts
  src/entities/user/@x/board.ts
  src/entities/user/hooks/useGetCurrentUser.ts
  src/entities/user/index.ts
  src/features/board/delete-board/components/DeleteBoardTrigger.tsx
  src/features/board/edit-board/components/EditBoardModalTrigger.tsx
  src/features/user/change-theme/components/ThemeSelect.tsx
  src/features/user/change-theme/hooks/useChangeTheme.ts
  src/features/user/edit-profile/components/EditAvatar.tsx
  src/features/user/edit-profile/components/EditProfileModalTrigger.tsx
  src/features/user/edit-profile/hooks/useEditProfile.ts
  yarn.lock
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc-files --noEmit src/vite-env.d.ts

chore: remove all mutation keys
  src/features/auth/logout/hooks/useLogoutUser.ts
  src/features/auth/signin/hooks/useSigninUser.ts
  src/features/auth/signup/hooks/useSignupUser.ts
  src/features/board/add-board/hooks/useAddBoard.ts
  src/features/board/delete-board/hooks/useDeleteBoard.ts
  src/features/board/edit-board/hooks/useEditBoard.ts
  src/features/card/add-card/hooks/useAddCard.ts
  src/features/card/delete-card/hooks/useDeleteCard.ts
  src/features/card/edit-card/hooks/useEditCard.ts
  src/features/card/move-card/hooks/useUpdateCardOrder.ts
  src/features/column/add-column/hooks/useAddColumn.ts
  src/features/column/delete-column/hooks/useDeleteColumn.ts
  src/features/column/edit-column/hooks/useEditColumn.ts
  src/features/column/move-column/hooks/useUpdateColumnOrder.ts
  src/features/user/edit-profile/hooks/useEditProfile.ts
  src/features/user/need-help/hooks/useNeedHelp.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc-files --noEmit src/vite-env.d.ts

fix: minor updates & improvements
  src/entities/dnd/components/Draggable.tsx
  src/shared/hooks/index.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc-files --noEmit src/vite-env.d.ts

build: clean up action for code quality
  .github/workflows/code-quality.yml
Due: none

chore: upgrade dependencies
  package.json
  yarn.lock
Due: prettier --write

fix(bug): update user when theme api request is settled
  src/features/user/change-theme/hooks/useChangeTheme.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc-files --noEmit src/vite-env.d.ts

fix(bug): redirect user to home after token expiration
  src/entities/auth/api/axios.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc-files --noEmit src/vite-env.d.ts

fix(bug): do not throw an error when logging out with expired token
  src/entities/auth/api/axios.ts
  src/features/user/edit-profile/components/EditProfileModalTrigger.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc-files --noEmit src/vite-env.d.ts

fix(bug): could not go back on calendar when date is selected in the future
  src/entities/card/components/FormDeadlinePicker.tsx
  src/features/card/add-card/components/AddCardModal.tsx
  src/features/card/edit-card/components/EditCardModal.tsx
  src/shared/ui/Calendar.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc-files --noEmit src/vite-env.d.ts

fix: minor updates & improvements
  src/features/user/edit-profile/components/EditAvatar.tsx
  src/features/user/edit-profile/components/EditProfileModal.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc-files --noEmit src/vite-env.d.ts

chore: add consistent-type-imports rule
  eslint.config.ts
  src/app/ambient/react-router.d.ts
  src/blocks/kanban-board/card/CardListItemPriority.tsx
  src/features/auth/signin/hooks/useSigninUser.ts
  src/features/auth/signup/hooks/useSignupUser.ts
  src/features/board/delete-board/hooks/useDeleteBoard.ts
  src/features/user/change-theme/hooks/useChangeTheme.ts
  src/features/user/edit-profile/hooks/useEditProfileForm.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc-files --noEmit src/vite-env.d.ts

fix: minor updates & improvements
  src/features/auth/logout/components/LogoutBtn.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc-files --noEmit src/vite-env.d.ts

chore: add tsc-files to check type errors in lint-staged
  .lintstagedrc
  package.json
  yarn.lock
Due: prettier --write

build: create dependabot.yml
  .github/dependabot.yml
Due: none

chore: add auto approve action for dependabot
  .github/workflows/auto-approve.yml
Due: none

chore: configure dependabot to run monthly
  .github/dependabot.yml
Due: none

chore: update tsc files command to include all declarations files
  .lintstagedrc
  index.html
  src/blocks/kanban-board/board/Board.tsx
  src/shared/hooks/useDocumentTitle.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc-files --noEmit src/vite-env.d.ts

chore: update seo metadata
  index.html
Due: none

chore: add open graph metdata
  index.html
  public/social.png
Due: none

chore: update open graph image
  index.html
  public/social.png
Due: none

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.json)
  eslint --fix -f mo: any of: *.{ts,tsx}
  eslint -f mo: any of: *.{ts,tsx}
  tsc-files --noEmit src/vite-env.d.ts: any of: *.{ts,tsx}
