Repository chertik77/TaskPro-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix -f mo, eslint -f mo

fix: minor updates & improvements
  eslint.config.ts
  src/features/drag-and-drop/index.ts
  src/features/drag-and-drop/utils/dnd-kit.typesafe.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo

fix: extract id of draggable and droppable data into a string
  src/features/drag-and-drop/utils/dnd-kit.typesafe.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo

feat: add new font formats to support older browsers
  src/app/fonts/poppins/ttf/Poppins-Medium.ttf
  src/app/fonts/poppins/ttf/Poppins-Regular.ttf
  src/app/fonts/poppins/ttf/Poppins-SemiBold.ttf
  src/app/fonts/poppins/woff/Poppins-Medium.woff
  src/app/fonts/poppins/woff/Poppins-Regular.woff
  src/app/fonts/poppins/woff/Poppins-SemiBold.woff
  src/app/fonts/poppins/woff2/Poppins-Medium.woff2
  src/app/fonts/poppins/woff2/Poppins-Regular.woff2
  src/app/fonts/poppins/woff2/Poppins-SemiBold.woff2
  src/app/index.css
Due: none

refactor: add RadioGroup and Popover ui components for reusability
  src/blocks/kanban-board/filters/Filters.tsx
  src/entities/board/components/FormIconSelector.tsx
  src/entities/card/components/FormDeadlinePicker.tsx
  src/entities/card/components/FormPrioritySelector.tsx
  src/entities/card/index.ts
  src/features/card/filter-cards/components/DeadlineFilter.tsx
  src/features/card/filter-cards/components/PriorityFilter.tsx
  src/shared/ui/Popover.tsx
  src/shared/ui/RadioGroup.tsx
  src/shared/ui/index.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo

fix: minor updates & improvements
  src/features/card/filter-cards/utils/getFilteredCards.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo

fix: minor updates & improvements
  src/app/index.css
  src/blocks/kanban-board/board/EmptyBoard.tsx
  src/blocks/sidebar/SidebarBoardInfo.tsx
  src/blocks/sidebar/SidebarLogo.tsx
  src/features/card/filter-cards/components/DeadlineFilter.tsx
  src/features/card/filter-cards/components/PriorityFilter.tsx
  src/features/user/need-help/components/NeedHelpModalTrigger.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo

chore: add tsc-files cmd to include all declarations files
  .lintstagedrc
Due: none

feat: add auth tabs & accessability improvements
  package.json
  src/app/routes/(auth)/_auth-layout.tsx
  src/blocks/auth-navigation/AuthNavigation.tsx
  src/blocks/auth-navigation/index.ts
  src/blocks/auth-tabs/AuthTabs.tsx
  src/blocks/auth-tabs/index.ts
  src/blocks/kanban-board/card/CardListItem.tsx
  src/blocks/kanban-board/column/ColumnListItem.tsx
  src/features/drag-and-drop/dnd.context.tsx
  yarn.lock
Due: prettier --write, eslint --fix -f mo, eslint -f mo

chore: update deps
  package.json
  yarn.lock
Due: prettier --write

fix: minor updates & improvements
  src/blocks/kanban-board/card/CardListItem.tsx
  src/blocks/kanban-board/column/ColumnListItem.tsx
  src/entities/card/components/Card.tsx
  src/entities/column/components/Column.tsx
  src/features/drag-and-drop/dnd.context.tsx
  src/features/drag-and-drop/hooks/useGetAccessibilityAnnouncements.ts
  src/features/drag-and-drop/utils/getDraggingCardData.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo

fix: minor updates & improvements
  src/entities/card/components/Card.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo

chore: add new icons
  README.md
Due: none

chore: add new readme language and tools icons
  README.md
Due: none

chore: update README.md
  README.md
Due: none

feat: add plerdy code block to track seo tips
  index.html
Due: none

fix: improved site title and description, add schema markup
  index.html
Due: none

chore: update seo metadata
  index.html
  public/social.png
Due: none

fix: minor updates & improvements
  src/blocks/sidebar/SidebarLogo.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo

fix: minor updates & improvements
  .lintstagedrc
  eslint.config.ts
  src/features/drag-and-drop/dnd.context.tsx
  src/features/drag-and-drop/hooks/useCardDragHandlers.ts
  src/features/drag-and-drop/hooks/useColumnDragHandlers.ts
  src/features/drag-and-drop/hooks/useGetAccessibilityAnnouncements.ts
  src/features/drag-and-drop/index.ts
  src/features/drag-and-drop/utils/collisionDetection.ts
  src/features/drag-and-drop/utils/dnd-kit.typesafe.tsx
  src/features/drag-and-drop/utils/getDraggingCardData.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo

feat(a11y): add aria labelled and described by for all modals
  src/features/board/add-board/components/AddBoardModal.tsx
  src/features/board/edit-board/components/EditBoardModal.tsx
  src/features/card/add-card/components/AddCardModal.tsx
  src/features/card/edit-card/components/EditCardModal.tsx
  src/features/column/add-column/components/AddColumnModal.tsx
  src/features/column/edit-column/components/EditColumnModal.tsx
  src/features/user/edit-profile/components/EditProfileModal.tsx
  src/features/user/need-help/components/NeedHelpModal.tsx
  src/shared/ui/Modal.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo

feat: add autofocus to name field in edit profile modal
  src/features/user/edit-profile/components/EditProfileDialog.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo

feat: add description to all modals for accessibility
  src/features/board/add-board/components/AddBoardDialog.tsx
  src/features/board/edit-board/components/EditBoardDialog.tsx
  src/features/card/add-card/components/AddCardDialog.tsx
  src/features/card/edit-card/components/EditCardDialog.tsx
  src/features/column/add-column/components/AddColumnDialog.tsx
  src/features/column/edit-column/components/EditColumnDialog.tsx
  src/features/user/edit-profile/components/EditProfileDialog.tsx
  src/features/user/need-help/components/NeedHelpDialog.tsx
  src/shared/ui/Dialog.tsx
  src/shared/ui/index.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo

fix: minor updates & improvements
  src/app/index.css
  src/blocks/sidebar/SidebarMobileMenu.tsx
  src/shared/ui/Dialog.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo

fix: enhance sidebar store naming, add mobile menu
  src/app/routes/(dashboard)/dashboard.tsx
  src/blocks/header/Header.tsx
  src/blocks/sidebar/Sidebar.tsx
  src/blocks/sidebar/SidebarBoardListItem.tsx
  src/blocks/sidebar/SidebarLogo.tsx
  src/blocks/sidebar/SidebarMobileMenu.tsx
  src/features/auth/logout/components/LogoutBtn.tsx
  src/features/board/delete-board/components/DeleteBoardTrigger.tsx
  src/features/user/toggle-sidebar/components/ToggleMobileMenuTrigger.tsx
  src/features/user/toggle-sidebar/components/ToggleSidebarTrigger.tsx
  src/features/user/toggle-sidebar/hooks/useSidebarToggleShortcut.ts
  src/features/user/toggle-sidebar/index.ts
  src/shared/store/sidebar.store.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo

fix: minor updates & improvements
  src/shared/ui/Dialog.tsx
  src/shared/ui/index.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo

refactor: extract modal forms into its own component
  src/features/board/add-board/components/AddBoardDialog.tsx
  src/features/board/add-board/components/AddBoardForm.tsx
  src/features/board/edit-board/components/EditBoardDialog.tsx
  src/features/board/edit-board/components/EditBoardForm.tsx
  src/features/card/add-card/components/AddCardDialog.tsx
  src/features/card/add-card/components/AddCardForm.tsx
  src/features/card/edit-card/components/EditCardDialog.tsx
  src/features/card/edit-card/components/EditCardForm.tsx
  src/features/column/add-column/components/AddColumnDialog.tsx
  src/features/column/add-column/components/AddColumnForm.tsx
  src/features/column/edit-column/components/EditColumnDialog.tsx
  src/features/column/edit-column/components/EditColumnForm.tsx
  src/features/user/edit-profile/components/EditAvatar.tsx
  src/features/user/edit-profile/components/EditProfileDialog.tsx
  src/features/user/edit-profile/components/EditProfileForm.tsx
  src/features/user/need-help/components/NeedHelpDialog.tsx
  src/features/user/need-help/components/NeedHelpForm.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo

fix: minor updates & improvements
  src/blocks/sidebar/Sidebar.tsx
  src/blocks/sidebar/SidebarBoardCreationSection.tsx
  src/blocks/sidebar/SidebarMobileMenu.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo

fix: minor updates & improvements
  src/entities/card/components/Card.tsx
  src/entities/column/components/Column.tsx
  src/shared/ui/Dialog.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo

fix: minor updates & improvements
  src/entities/board/components/FormBgImageSelector.tsx
  src/entities/board/components/FormIconSelector.tsx
  src/entities/card/components/FormPrioritySelector.tsx
  src/features/board/add-board/components/AddBoardForm.tsx
  src/features/board/edit-board/components/EditBoardForm.tsx
  src/features/card/add-card/components/AddCardForm.tsx
  src/features/card/edit-card/components/EditCardForm.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo

fix: minor updates & improvements
  src/app/routes/(auth)/_auth-layout.signin.tsx
  src/app/routes/(auth)/_auth-layout.signup.tsx
  src/blocks/sidebar/SidebarBoardListItem.tsx
  src/entities/board/components/FormBgImageSelector.tsx
  src/features/board/edit-board/hooks/useEditBoardForm.ts
  src/features/card/edit-card/hooks/useEditCardForm.ts
  src/features/column/edit-column/hooks/useEditColumnForm.ts
  src/features/user/edit-profile/hooks/useEditProfileForm.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo

chore: add readme stan-js icon
  README.md
Due: none

fix: minor updates & improvements
  src/features/user/edit-profile/components/EditAvatar.tsx
  src/features/user/edit-profile/components/EditProfileDialog.tsx
  src/features/user/edit-profile/components/EditProfileForm.tsx
  src/shared/ui/Calendar.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo

feat: add move card to another column feature
  public/icons.svg
  src/blocks/kanban-board/board/Board.tsx
  src/blocks/kanban-board/card/CardListItem.tsx
  src/features/auth/google/components/GoogleSignin.tsx
  src/features/auth/google/hooks/useGoogleSignin.ts
  src/features/card/move-card/components/MoveCardSelect.tsx
  src/features/card/move-card/hooks/useMoveCard.ts
  src/features/card/move-card/index.ts
  src/shared/api/card/card.contracts.ts
  src/shared/api/card/card.endpoints.ts
  src/shared/api/card/card.service.ts
  src/shared/api/card/card.types.ts
  src/shared/hooks/index.ts
  src/shared/hooks/useGetBoardById.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo

feat: add reusable select ui component
  src/features/card/move-card/components/MoveCardSelect.tsx
  src/features/user/change-theme/components/ThemeSelect.tsx
  src/shared/ui/Select.tsx
  src/shared/ui/index.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo

feat: add optimistic updates
  src/features/card/move-card/hooks/useMoveCard.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.json)
  eslint --fix -f mo: any of: *.{ts,tsx}
  eslint -f mo: any of: *.{ts,tsx}
