Repository chertik77/TaskPro-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc:

{
  "*.{ts, tsx}": ["prettier --write", "eslint --fix", "eslint"],
  "*.json": ["prettier --write"]
}

style: add husky hook for lint-staged
  .husky/commit-msg
  .husky/pre-commit
  package.json
  yarn.lock
Due: prettier --write

fix: integrate date picker into form, fix radio color bug
  src/components/dashboard/board/cards/BoardCard.tsx
  src/components/dashboard/board/cards/BoardCardPriority.tsx
  src/components/dashboard/board/columns/BoardColumnsItem.tsx
  src/components/dashboard/board/filters/FilterSelect.tsx
  src/components/dashboard/header/HeaderUserInfo.tsx
  src/components/dashboard/modals/card/AddCardModal.tsx
  src/components/dashboard/modals/card/EditCardModal.tsx
  src/components/dashboard/modals/edit-profile/EditAvatar.tsx
  src/components/ui/Calendar.tsx
  src/components/ui/CreateBoard.tsx
  src/components/ui/DatePicker.tsx
  src/components/ui/Popover.tsx
  src/components/ui/RadioInput.tsx
  src/components/ui/calendar/DatePopover.tsx
  src/components/ui/index.ts
  src/constants/priorities.ts
  src/lib/index.ts
  src/lib/schemas/card-schema.ts
  src/redux/filter.slice.ts
  src/redux/store.ts
  src/redux/user.slice.ts
  src/types/board.types.ts
Due: prettier --write, eslint --fix, eslint

fix: update mutation hook, fix delete board invalidation
  src/components/App.tsx
  src/components/auth/SigninForm.tsx
  src/components/auth/SignupForm.tsx
  src/components/dashboard/board/filters/FilterSelect.tsx
  src/components/dashboard/header/HeaderThemeSelect.tsx
  src/components/dashboard/modals/NeedHelpModal.tsx
  src/components/dashboard/modals/board/AddBoard.tsx
  src/components/dashboard/modals/board/EditBoard.tsx
  src/components/dashboard/sidebar/SidebarListActiveItem.tsx
  src/components/dashboard/sidebar/SidebarLogoutBtn.tsx
  src/components/dashboard/sidebar/SidebarUserSupportBtn.tsx
  src/hooks/index.ts
  src/hooks/useAppDispatch.ts
  src/hooks/useAppMutation.ts
  src/lib/json/filter-items.json
  src/redux/store.ts
Due: prettier --write, eslint --fix, eslint

fix: update calendar align, styles
  src/components/ui/Calendar.tsx
  src/components/ui/DatePicker.tsx
Due: none

fix: massive update on modals, icons, bg-images
  src/components/dashboard/board/Board.tsx
  src/components/dashboard/modals/board/AddBoard.tsx
  src/components/dashboard/modals/board/BackgroundImages.tsx
  src/components/dashboard/modals/board/BgImages.tsx
  src/components/dashboard/modals/board/EditBoard.tsx
  src/components/dashboard/modals/board/Icons.tsx
  src/components/dashboard/modals/card/AddCardModal.tsx
  src/components/dashboard/modals/card/EditCardModal.tsx
  src/components/dashboard/sidebar/SidebarBoardsList.tsx
  src/components/dashboard/sidebar/SidebarListActiveItem.tsx
  src/components/ui/Modal.tsx
  src/components/ui/RadioInput.tsx
  src/index.tsx
  src/lib/json/board-bg-images.json
  src/pages/DashboardPage.tsx
Due: prettier --write

fix: massive update on modals, icons, bg-images
  src/components/dashboard/header/HeaderSelect.tsx
  src/components/dashboard/header/HeaderThemeSelect.tsx
  src/components/dashboard/modals/board/AddBoard.tsx
  src/components/dashboard/modals/board/BgImages.tsx
  src/components/dashboard/modals/board/EditBoard.tsx
  src/components/dashboard/modals/board/Icons.tsx
  src/components/dashboard/modals/board/RadioInputBgImages.tsx
  src/components/dashboard/modals/board/RadioInputIcons.tsx
  src/components/dashboard/modals/burger-menu/BurgerMenu.tsx
  src/components/dashboard/sidebar/Sidebar.tsx
  src/components/dashboard/sidebar/SidebarBoardsList.tsx
  src/components/dashboard/sidebar/SidebarLogo.tsx
  src/components/dashboard/sidebar/SidebarMyBoardsInfo.tsx
  src/components/dashboard/sidebar/SidebarUserSupport.tsx
  src/components/ui/Button.tsx
Due: none

feat: add correct redux state for updating user
  src/components/auth/SigninForm.tsx
  src/components/auth/SignupForm.tsx
  src/components/dashboard/header/HeaderUserInfo.tsx
  src/components/dashboard/modals/NeedHelpModal.tsx
  src/components/dashboard/modals/board/AddBoard.tsx
  src/components/dashboard/modals/board/EditBoard.tsx
  src/components/dashboard/modals/board/RadioInputBgImages.tsx
  src/components/dashboard/modals/board/RadioInputIcons.tsx
  src/components/dashboard/modals/card/AddCardModal.tsx
  src/components/dashboard/modals/card/EditCardModal.tsx
  src/components/dashboard/modals/card/ModalDescription.tsx
  src/components/dashboard/modals/card/ModalPriorities.tsx
  src/components/dashboard/modals/edit-profile/EditProfileModal.tsx
  src/components/ui/DatePicker.tsx
  src/config/api-endpoints.config.ts
  src/hooks/useSigninUser.ts
  src/hooks/useSignupUser.ts
  src/lib/schemas/board.schema.ts
  src/lib/schemas/card.schema.ts
  src/lib/schemas/help.schema.ts
  src/lib/schemas/index.ts
  src/lib/schemas/signin-schema.ts
  src/lib/schemas/signin.schema.ts
  src/lib/schemas/signup.schema.ts
  src/redux/user.slice.ts
  src/services/auth.service.ts
  src/services/board.service.ts
  src/services/card.service.ts
  src/services/user.service.ts
Due: prettier --write, eslint --fix, eslint

fix: remove type defintions, add tsc script for lint staged
  .lintstagedrc
  src/components/auth/SigninForm.tsx
  src/components/auth/SignupForm.tsx
  src/components/dashboard/modals/NeedHelpModal.tsx
  src/components/dashboard/modals/board/AddBoard.tsx
  src/components/dashboard/modals/board/EditBoard.tsx
  src/components/dashboard/modals/card/AddCardModal.tsx
  src/components/dashboard/modals/card/EditCardModal.tsx
Due: none

build: add github action for code quality
  .github/workflows/code-quality.yml
Due: none

style: add mo formatter for eslint
  .lintstagedrc
  package.json
  yarn.lock
Due: prettier --write

fix: remove tsc script from lint-staged
  .lintstagedrc
  src/components/dashboard/modals/edit-profile/EditAvatar.tsx
  src/components/dashboard/modals/edit-profile/EditProfileModal.tsx
  src/lib/schemas/signup.schema.ts
  src/services/user.service.ts
Due: prettier --write, eslint --fix, eslint

feat: add custom scroll for board, and overflow to disable scroll on ios
  index.html
  src/components/dashboard/board/Board.tsx
  src/components/dashboard/board/cards/BoardCard.tsx
  src/components/dashboard/board/columns/BoardColumnsItem.tsx
  src/components/dashboard/modals/NeedHelpModal.tsx
  src/components/dashboard/modals/board/EditBoard.tsx
  src/components/dashboard/modals/card/EditCardModal.tsx
  src/components/dashboard/modals/edit-profile/EditAvatar.tsx
  src/components/dashboard/modals/edit-profile/EditProfileModal.tsx
  src/components/ui/CreateBoard.tsx
  src/index.tsx
  src/lib/schemas/base.schema.ts
  src/lib/schemas/board.schema.ts
  src/lib/schemas/card.schema.ts
  src/lib/schemas/help.schema.ts
  src/lib/schemas/index.ts
  src/lib/schemas/signin.schema.ts
  src/lib/schemas/signup.schema.ts
  src/lib/schemas/user.schema.ts
  src/services/user.service.ts
  src/types/board.types.ts
  tailwind.config.ts
Due: prettier --write, eslint --fix, eslint

feat: add custom scroll for board, and overflow to disable scroll on ios
  src/components/ui/CreateBoard.tsx
Due: none

feat: add custom scroll for board, and overflow to disable scroll on ios
  src/components/ui/CreateBoard.tsx
  src/pages/DashboardPage.tsx
Due: none

fix: remove valibot pick option
  src/lib/schemas/help.schema.ts
Due: prettier --write, eslint --fix, eslint

fix: remove ios scroll web board is empty
  src/components/dashboard/board/columns/BoardColumnsItem.tsx
  src/components/ui/CreateBoard.tsx
Due: none

fix: remove ios scroll web board is empty
  index.html
Due: none

fix: remove ios scroll web board is empty
  src/components/ui/CreateBoard.tsx
Due: none

fix: remove chrome scroll when board is empty
  src/components/ui/CreateBoard.tsx
Due: none

fix: remove chrome scroll when board is empty
  src/components/ui/CreateBoard.tsx
  src/pages/DashboardPage.tsx
Due: none

feat: add burger menu, fix sidebar styles
  src/components/dashboard/header/HeaderBurgerMenuBtn.tsx
  src/components/dashboard/modals/BurgerMenu.tsx
  src/components/dashboard/modals/NeedHelp.tsx
  src/components/dashboard/modals/board/NewBoard.tsx
  src/components/dashboard/modals/burger-menu/BurgerMenu.tsx
  src/components/dashboard/modals/burger-menu/burger-Modal.tsx
  src/components/dashboard/modals/index.ts
  src/components/dashboard/sidebar/SidebarBoardsList.tsx
  src/components/dashboard/sidebar/SidebarLogo.tsx
  src/components/dashboard/sidebar/SidebarLogoutBtn.tsx
  src/components/dashboard/sidebar/SidebarMyBoardsInfo.tsx
  src/components/dashboard/sidebar/SidebarUserSupport.tsx
  src/components/ui/CreateBoard.tsx
  src/index.tsx
  src/lib/schemas/help.schema.ts
Due: prettier --write, eslint --fix, eslint

chore: moved to 0.31 version of valibot
  package.json
  src/components/dashboard/modals/BurgerMenu.tsx
  src/hooks/useAppForm.ts
  src/lib/schemas/base.schema.ts
  src/lib/schemas/board.schema.ts
  src/lib/schemas/card.schema.ts
  src/lib/schemas/help.schema.ts
  src/lib/schemas/signin.schema.ts
  src/lib/schemas/signup.schema.ts
  src/lib/schemas/user.schema.ts
  yarn.lock
Due: prettier --write, eslint --fix, eslint

fix: remove scroll when sidebar open
  src/components/dashboard/modals/BurgerMenu.tsx
  src/components/dashboard/sidebar/Sidebar.tsx
Due: none

feat: move toast on top-center on laptop and mobile
  package.json
  src/components/Layout.tsx
  yarn.lock
Due: prettier --write

chore: moved to 0.30.0 version of valibot
  package.json
  src/hooks/useAppForm.ts
  src/lib/schemas/base.schema.ts
  src/lib/schemas/board.schema.ts
  src/lib/schemas/card.schema.ts
  src/lib/schemas/help.schema.ts
  src/lib/schemas/signin.schema.ts
  src/lib/schemas/signup.schema.ts
  src/lib/schemas/user.schema.ts
  yarn.lock
Due: prettier --write, eslint --fix, eslint

build: add correct package version
  package.json
  yarn.lock
Due: prettier --write

feat: add new toast messages
  src/components/Layout.tsx
  src/components/dashboard/board/cards/BoardCardActions.tsx
  src/components/dashboard/board/columns/BoardAddColumnBtn.tsx
  src/components/dashboard/board/columns/BoardColumnsActions.tsx
  src/components/dashboard/modals/BurgerMenu.tsx
  src/components/dashboard/modals/board/EditBoard.tsx
  src/components/dashboard/modals/board/NewBoard.tsx
  src/components/dashboard/modals/card/AddCardModal.tsx
  src/components/dashboard/modals/card/EditCardModal.tsx
  src/components/dashboard/modals/edit-profile/EditAvatar.tsx
  src/components/dashboard/modals/edit-profile/EditProfileModal.tsx
  src/components/dashboard/sidebar/SidebarBoardsList.tsx
  src/components/dashboard/sidebar/SidebarListActiveItem.tsx
  src/components/dashboard/sidebar/SidebarLogo.tsx
  src/components/dashboard/sidebar/SidebarLogoutBtn.tsx
  src/components/dashboard/sidebar/SidebarMyBoardsInfo.tsx
  src/components/dashboard/sidebar/SidebarUserSupport.tsx
  src/hooks/useSigninUser.ts
  src/hooks/useSignupUser.ts
Due: prettier --write, eslint --fix, eslint

feat: add active board as a radio for keyboard navigation
  src/components/dashboard/sidebar/SidebarBoardsList.tsx
Due: none

chore: add cn as a calles for linting
  .eslintrc
  src/components/ui/RadioInput.tsx
Due: none

fix: add correct height for columns list to support ios tab bar
  package.json
  src/components/dashboard/board/cards/BoardCardActions.tsx
  src/components/dashboard/board/cards/BoardCardColumnSelect.tsx
  src/components/dashboard/board/columns/BoardColumnsActions.tsx
  src/components/dashboard/board/columns/BoardColumnsItem.tsx
  src/components/dashboard/sidebar/SidebarBoardsList.tsx
  src/components/dashboard/sidebar/SidebarListActiveItem.tsx
  src/components/dashboard/sidebar/SidebarMyBoardsInfo.tsx
  src/index.css
  src/index.tsx
  yarn.lock
Due: prettier --write

fix: add new media query to disable zoom input on ios
  src/index.css
Due: none

feat: add 16 fz on textarea to disable zooming on ios
  src/components/dashboard/modals/NeedHelp.tsx
  src/components/dashboard/modals/card/ModalDescription.tsx
  src/index.css
Due: none

feat: add 16 fs on textarea to disable zooming on ios
  src/index.css
Due: none

style: fix columnitem height
  src/components/dashboard/board/columns/BoardColumnsItem.tsx
Due: none

feat: massive update on everything
  package.json
  src/components/dashboard/board/Board.tsx
  src/components/dashboard/board/cards/BoardCardActions.tsx
  src/components/dashboard/board/cards/BoardCardColumnSelect.tsx
  src/components/dashboard/board/columns/BoardColumnsActions.tsx
  src/components/dashboard/board/columns/BoardColumnsItem.tsx
  src/components/dashboard/board/columns/BoardColumnsList.tsx
  src/components/dashboard/header/HeaderThemeSelect.tsx
  src/components/dashboard/header/HeaderUserInfo.tsx
  src/components/dashboard/modals/board/EditBoard.tsx
  src/components/dashboard/modals/board/NewBoard.tsx
  src/components/dashboard/modals/card/AddCardModal.tsx
  src/components/dashboard/modals/card/EditCardModal.tsx
  src/components/dashboard/modals/edit-profile/EditAvatar.tsx
  src/components/dashboard/modals/edit-profile/EditProfileModal.tsx
  src/components/dashboard/sidebar/Sidebar.tsx
  src/components/dashboard/sidebar/SidebarBoardsList.tsx
  src/config/api-endpoints.config.ts
  src/index.tsx
  src/redux/user.slice.ts
  src/services/board.service.ts
  src/services/card.service.ts
  src/services/column.service.ts
  src/services/user.service.ts
  src/types/auth.types.ts
  src/types/board.types.ts
  yarn.lock
Due: prettier --write, eslint --fix, eslint

fix: remove fs from textarea
  src/components/dashboard/modals/NeedHelp.tsx
  src/components/dashboard/modals/card/ModalDescription.tsx
Due: none

chore: prevent autofilling user password in edit-profile-modal
  src/components/dashboard/modals/edit-profile/EditProfileModal.tsx
Due: none

chore: add aut inputs autocomplete options
  src/components/auth/SigninForm.tsx
  src/components/auth/SignupForm.tsx
Due: none
