Repository chertik77/TaskPro-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix -f mo, eslint -f mo

.lintstagedrc:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix -f mo", "eslint -f mo"],
  "*.json": ["prettier --write"]
}

feat: add env config
  eslint.config.js
  package.json
  src/app/providers/index.tsx
  src/shared/api/instance.ts
  yarn.lock
Due: prettier --write, eslint --fix -f mo, eslint -f mo

feat: add env config
  src/shared/config/env.ts
  src/shared/config/index.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo

refactor: add pages folder
  independentModules.mjs
  src/app/routes/(auth)/_auth-layout.signin.tsx
  src/app/routes/(auth)/_auth-layout.signup.tsx
  src/app/routes/(dashboard)/dashboard.tsx
  src/app/routes/index.tsx
  src/blocks/welcome/index.ts
  src/pages/dashboard/index.ts
  src/pages/dashboard/ui/DashboardPage.tsx
  src/pages/signin/index.ts
  src/pages/signin/ui/SigninPage.tsx
  src/pages/signup/index.ts
  src/pages/signup/ui/SignupPage.tsx
  src/pages/welcome/index.ts
  src/pages/welcome/ui/WelcomePage.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo

refactor: move fonts to assets
  src/app/index.css
  src/assets/fonts/poppins/ttf/Poppins-Medium.ttf
  src/assets/fonts/poppins/ttf/Poppins-Regular.ttf
  src/assets/fonts/poppins/ttf/Poppins-SemiBold.ttf
  src/assets/fonts/poppins/woff/Poppins-Medium.woff
  src/assets/fonts/poppins/woff/Poppins-Regular.woff
  src/assets/fonts/poppins/woff/Poppins-SemiBold.woff
  src/assets/fonts/poppins/woff2/Poppins-Medium.woff2
  src/assets/fonts/poppins/woff2/Poppins-Regular.woff2
  src/assets/fonts/poppins/woff2/Poppins-SemiBold.woff2
Due: none

fix: add rules for steiger, remove eslint project structure plugin
  .github/workflows/auto-approve.yml
  eslint.config.js
  independentModules.mjs
  package.json
  src/app/ambient/vite-env.d.ts
  src/shared/api/instance.ts
  steiger.config.ts
  yarn.lock
Due: prettier --write, eslint --fix -f mo, eslint -f mo

refactor: add folder to combine website icon files
  index.html
  public/og-image.png
  public/website-icon/apple-touch-icon.png
  public/website-icon/favicon-96x96.png
  public/website-icon/favicon.ico
  public/website-icon/favicon.svg
  public/website-icon/web-app-manifest-192x192.png
  public/website-icon/web-app-manifest-512x512.png
Due: none

chore: update deps
  package.json
  yarn.lock
Due: prettier --write

chore: add license
  LICENSE
Due: none

fix: add new configuration for tanstack react router
  vite.config.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo

chore: add fsd readme icon
  README.md
Due: none

fix: minor updates & improvements
  package.json
  src/features/drag-and-drop/model/context.tsx
  src/features/drag-and-drop/model/useCardDragHandlers.ts
  src/features/drag-and-drop/model/useColumnDragHandlers.ts
  src/features/drag-and-drop/model/useDndState.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo

refactor: add useDndSortable to shared/lib
  src/features/drag-and-drop/index.ts
  src/shared/lib/dnd/useDndSortable.ts
  src/shared/lib/index.ts
  src/widgets/kanban-board/ui/card/CardListItem.tsx
  src/widgets/kanban-board/ui/column/ColumnListItem.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo

fix(bug): toggle sidebar icon was white on light bg
  src/features/user/toggle-sidebar/ui/ToggleSidebarTrigger.tsx
  src/shared/lib/react-router/routeTree.gen.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo

chore: update README.md
  README.md
Due: none

feat: add session context for router
  src/app/providers/RouteProvider.tsx
  src/app/routes/(auth)/_auth-layout.tsx
  src/app/routes/(dashboard)/dashboard.tsx
  src/app/routes/__root.tsx
  src/app/routes/index.tsx
  src/shared/lib/react-router/router.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo

fix: rename auth to session
  src/features/session/google/api/useGoogleSignin.ts
  src/features/session/google/index.ts
  src/features/session/google/ui/GoogleSignin.tsx
  src/features/session/logout/api/useLogoutUser.ts
  src/features/session/logout/index.ts
  src/features/session/logout/ui/LogoutBtn.tsx
  src/features/session/signin/api/useSigninUser.ts
  src/features/session/signin/index.ts
  src/features/session/signin/model/contract.ts
  src/features/session/signin/ui/SigninForm.tsx
  src/features/session/signup/api/useSignupUser.ts
  src/features/session/signup/index.ts
  src/features/session/signup/model/contract.ts
  src/features/session/signup/ui/SignupForm.tsx
  src/pages/signin/ui/SigninPage.tsx
  src/pages/signup/ui/SignupPage.tsx
  src/pages/welcome/ui/WelcomePage.tsx
  src/widgets/sidebar/ui/Sidebar.tsx
  src/widgets/sidebar/ui/SidebarMobileMenu.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo

fix: minor updates & improvements
  src/features/drag-and-drop/model/useCardDragHandlers.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo

fix: remove card drag activator
  src/entities/card/ui/Card.tsx
  src/features/drag-and-drop/model/context.tsx
  src/widgets/kanban-board/ui/card/CardListItem.tsx
  src/widgets/kanban-board/ui/card/MemoizedCard.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo

fix: migrate to eslint config ts extension
  eslint.config.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo

fix: minor updates & improvements
  src/entities/card/ui/FormDeadlinePicker.tsx
  src/shared/lib/react-router/routeTree.gen.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo

fix: add prettier ignore for route tree generator
  .prettierignore
  .prettierrc
Due: none

fix: minor updates & improvements
  src/features/drag-and-drop/model/context.tsx
  src/widgets/kanban-board/ui/card/CardListItem.tsx
  src/widgets/kanban-board/ui/dnd/KanbanDragOverlay.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo

fix: disable text selection on draggable element
  src/app/index.css
  src/widgets/kanban-board/ui/card/CardListItem.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo

fix: minor updates & improvements
  src/shared/ui/Calendar.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo

perf: do not make an api call if card dropped in the same position
  src/features/drag-and-drop/model/useCardDragHandlers.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo

fix: add internal api memory storage
  src/app/providers/GoogleProvider.tsx
  src/app/providers/index.tsx
  src/app/routes/__root.tsx
  src/entities/card/ui/Card.tsx
  src/shared/api/apiMemoryStorage.ts
  src/shared/api/index.ts
  src/shared/api/instance.ts
  steiger.config.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo

chore: add schema for autocomplete
  vercel.json
Due: prettier --write

fix: minor updates & improvements
  src/shared/lib/react-query/query-client.ts
  src/shared/ui/Calendar.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo

fix: minor updates & improvements
  src/shared/ui/PasswordInput.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo

fix: update sidebar shortcut to avoid conflicts with safari
  README.md
  src/features/user/toggle-sidebar/lib/useSidebarToggleShortcut.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo

fix: minor updates & improvements
  src/shared/api/apiMemoryStorage.ts
  src/shared/api/instance.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo

feat: add loading while authenticating with google
  src/features/session/google/api/useGoogleSignin.ts
  src/features/session/google/ui/GoogleSignin.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo

feat: add mutation for google signin
  src/features/session/google/api/useGoogleOAuthWrapper.ts
  src/features/session/google/api/useGoogleSignin.ts
  src/features/session/google/ui/GoogleSignin.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo

fix: minor updates & improvements
  src/shared/lib/dnd/useDndSortable.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo

chore: add scripts for type and steiger checking
  package.json
Due: prettier --write
