Repository chertik77/TaskPro-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix -f mo, eslint -f mo

fix: minor updates & improvements
  src/entities/session/api/contracts.ts
  src/entities/session/api/service.ts
  src/entities/session/api/types.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo

chore: update deps
  package.json
  yarn.lock
Due: prettier --write

fix: minor updates & improvements
  src/widgets/auth-navigation/ui/AuthNavigation.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo

fix: minor updates & improvements
  eslint.config.ts
  package.json
  src/entities/card/ui/FormPrioritySelector.tsx
  src/features/card/add-card/ui/AddCardForm.tsx
  yarn.lock
Due: prettier --write, eslint --fix -f mo, eslint -f mo

fix: update website domain
  index.html
  public/og-image.png
  public/og.png
Due: none

fix: google callback could not fire due to unmounting
  src/pages/google-callback/api/useGoogleSignin.ts
  src/pages/google-callback/ui/GoogleCallbackPage.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo

fix: minor updates & improvements
  src/app/providers/RouteProvider.tsx
  src/entities/board/ui/FormBgImageSelector.tsx
  src/shared/lib/router/router.ts
  src/widgets/sidebar/api/useLogoutUser.ts
  src/widgets/sidebar/ui/SidebarLogoutBtn.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo

fix: minor updates & improvements
  src/app/routes/__root.tsx
  src/widgets/sidebar/api/useLogoutUser.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo

fix: minor updates & improvements
  src/entities/session/api/contracts.ts
  src/entities/session/api/service.ts
  src/entities/session/api/types.ts
  src/entities/session/index.ts
  src/pages/welcome/api/useInitiateGoogleSignin.ts
  src/pages/welcome/ui/ContinueWithGoogleButton.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo

feat: add facebook auth
  public/icons.svg
  src/app/routes/auth/passkey.tsx
  src/entities/session/api/endpoints.ts
  src/pages/welcome/ui/SocialButton.tsx
  src/pages/welcome/ui/WelcomePage.tsx
  src/shared/lib/router/routeTree.gen.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo

feat: add page for oauth error handling
  src/app/routes/auth/callback.tsx
  src/app/routes/auth/passkey.tsx
  src/pages/callback/index.ts
  src/pages/callback/ui/CallbackErrorPage.tsx
  src/shared/lib/router/routeTree.gen.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo

chore: enhance authentication feature details in README
  README.md
Due: none

fix: minor updates & improvements
  src/app/routes/auth/callback.tsx
  src/app/routes/index.tsx
  src/entities/session/api/contracts.ts
  src/entities/session/api/types.ts
  src/pages/callback/index.ts
  src/pages/callback/ui/CallbackErrorPage.tsx
  src/shared/lib/router/routeTree.gen.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo

feat: add default global error
  src/app/providers/RouteProvider.tsx
  src/shared/ui/GlobalError.tsx
  src/shared/ui/index.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo

fix: minor updates & improvements
  src/entities/user/api/service.ts
  src/features/user/edit-profile/api/useEditProfile.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo

fix: close dialog on successful profile edit
  src/features/user/edit-profile/api/useEditProfile.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo

feat: add microsoft auth
  README.md
  public/.well-known/microsoft-identity-association.json
  public/icons.svg
  src/entities/session/api/endpoints.ts
  src/entities/user/api/service.ts
  src/pages/welcome/ui/SocialButton.tsx
  src/pages/welcome/ui/WelcomePage.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo

feat(card): implement fuzzy search for filters
  package.json
  src/app/routes/dashboard/$boardId.tsx
  src/entities/card/model/contracts.ts
  src/features/card/filter-cards/index.ts
  src/features/card/filter-cards/lib/getFilteredCards.ts
  src/features/card/filter-cards/lib/useCardFilters.ts
  src/features/card/filter-cards/lib/useFilteredCards.ts
  src/features/card/filter-cards/ui/SearchFilter.tsx
  src/widgets/kanban-board/ui/filters/Filters.tsx
  yarn.lock
Due: prettier --write, eslint --fix -f mo, eslint -f mo

chore: enhance feature descriptions in README.md
  README.md
Due: none

fix: minor updates & improvements
  commitlint.config.ts
  package.json
Due: prettier --write, eslint --fix -f mo, eslint -f mo

build: bump minimum node engine version to v24
  package.json
Due: prettier --write

ci: add setup-node to code-quality workflow
  .github/workflows/code-quality.yml
Due: none

fix(card): update search placeholder text
  src/features/card/filter-cards/ui/SearchFilter.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo

refactor(ui): remove unused spacing variables
  src/app/index.css
Due: none

refactor(ui): rename shadow-main to shadow-base
  src/app/index.css
  src/shared/ui/Popover.tsx
  src/shared/ui/Select.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo

style(ui): update layout to use fixed positioning
  src/app/index.css
  src/app/providers/RouteProvider.tsx
  src/app/routes/auth/_auth-layout.tsx
  src/pages/dashboard/ui/DashboardPage.tsx
  src/pages/welcome/ui/WelcomePage.tsx
  src/shared/ui/GlobalError.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo

refactor(forms): replace defaultValues with formValues
  src/features/board/edit-board/lib/useEditBoardForm.ts
  src/features/card/edit-card/lib/useEditCardForm.ts
  src/features/column/edit-column/lib/useEditColumnForm.ts
  src/features/user/edit-profile/lib/useEditProfileForm.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo

chore: update deps
  package.json
  src/shared/ui/Calendar.tsx
  yarn.lock
Due: prettier --write, eslint --fix -f mo, eslint -f mo

chore: add renovate configuration
  .github/renovate.json
Due: prettier --write

chore(renovate): refine dependency update strategy
  .github/renovate.json
Due: prettier --write

chore(renovate): ignore prettier-plugin-sort-imports
  .github/renovate.json
Due: prettier --write

chore(renovate): ignore node updates
  .github/renovate.json
Due: prettier --write

feat(api): implement automatic token refresh
  package.json
  src/app/providers/RouteProvider.tsx
  src/app/routes/__root.tsx
  src/entities/user/api/service.ts
  src/shared/api/apiMemoryStorage.ts
  src/shared/api/instance.ts
  yarn.lock
Due: prettier --write, eslint --fix -f mo, eslint -f mo

refactor(form): remove useEditForm hooks and use useAppForm directly
  src/features/board/edit-board/lib/useEditBoardForm.ts
  src/features/board/edit-board/ui/EditBoardForm.tsx
  src/features/card/edit-card/lib/useEditCardForm.ts
  src/features/card/edit-card/ui/EditCardForm.tsx
  src/features/column/edit-column/lib/useEditColumnForm.ts
  src/features/column/edit-column/ui/EditColumnForm.tsx
  src/features/user/edit-profile/lib/useEditProfileForm.ts
  src/features/user/edit-profile/ui/EditProfileForm.tsx
  src/shared/lib/form/useIsFormReadyForSubmit.ts
  src/shared/lib/index.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo

fix(kanban): prevent dnd keyboard events on inputs
  src/widgets/kanban-board/ui/card/CardListItem.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo

refactor(move-card): simplify move card mutation logic
  src/features/card/move-card/api/useMoveCard.ts
  src/features/card/move-card/lib/addMovedCardToColumn.ts
  src/features/card/move-card/lib/getMovedCard.ts
  src/features/card/move-card/ui/MoveCardSelect.tsx
Due: prettier --write, eslint --fix -f mo, eslint -f mo

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.json)
  eslint --fix -f mo: any of: *.{ts,tsx}
  eslint -f mo: any of: *.{ts,tsx}
