Repository chertik77/TaskPro-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix -f mo, eslint -f mo, tsc --noemit

style: add board loader
  package.json
  src/components/dashboard/board/Board.tsx
  src/components/ui/Loader.tsx
  src/components/ui/index.ts
  src/index.css
  yarn.lock
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc --noemit

style: add board loader
  src/index.css
Due: none

feat: add opportunity to choose bg image for board
  src/components/dashboard/board/Board.tsx
  src/components/dashboard/board/cards/BoardCardColumnSelect.tsx
  src/components/dashboard/board/cards/BoardCardDeadline.tsx
  src/components/dashboard/board/columns/BoardColumnsItem.tsx
  src/components/dashboard/board/filters/FilterSelect.tsx
  src/components/dashboard/header/Header.tsx
  src/components/dashboard/header/HeaderSelect.tsx
  src/components/dashboard/modals/board/EditBoard.tsx
  src/components/dashboard/modals/edit-profile/EditAvatar.tsx
  src/components/dashboard/sidebar/Sidebar.tsx
  src/components/dashboard/sidebar/SidebarBoardsList.tsx
  src/components/dashboard/sidebar/SidebarListActiveItem.tsx
  src/components/dashboard/sidebar/SidebarLogoutBtn.tsx
  src/components/dashboard/sidebar/SidebarMyBoardsInfo.tsx
  src/components/dashboard/sidebar/SidebarUserSupport.tsx
  src/components/ui/Button.tsx
  src/index.css
  src/types/board.types.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc --noemit

fix: add width for column title, to be editable within entire column
  src/components/dashboard/board/Board.tsx
  src/components/dashboard/board/columns/BoardColumnsActions.tsx
  src/components/dashboard/board/columns/BoardColumnsItem.tsx
  src/components/dashboard/sidebar/SidebarLogoutBtn.tsx
Due: none

fix: remove next themes provider, fix theme trigger on different accounts
  package.json
  src/components/Layout.tsx
  src/components/dashboard/header/HeaderThemeSelect.tsx
  src/components/dashboard/modals/board/RadioInputBgImages.tsx
  src/components/dashboard/sidebar/SidebarLogoutBtn.tsx
  src/components/ui/Loader.tsx
  src/contexts/theme.context.tsx
  src/index.tsx
  yarn.lock
Due: prettier --write

fix: remove theme context provider initial state
  src/contexts/theme.context.tsx
Due: none

fix: add initial state for theme provider
  src/contexts/theme.context.tsx
Due: none

fix: add error message for need help modal
  src/components/dashboard/modals/NeedHelp.tsx
Due: none

chore: clean up the cose, remove unused schemas
  src/components/dashboard/modals/board/RadioInputBgImages.tsx
  src/components/dashboard/modals/board/RadioInputIcons.tsx
  src/constants/themes.ts
  src/contexts/theme.context.tsx
  src/lib/json/board-icons.json
  src/lib/schemas/base.schema.ts
  src/lib/schemas/board.schema.ts
  src/lib/schemas/card.schema.ts
  src/lib/schemas/help.schema.ts
  src/lib/schemas/index.ts
  src/lib/schemas/signin.schema.ts
  src/lib/schemas/signup.schema.ts
  src/lib/schemas/user.schema.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc --noemit

chore: fix build errors
  .lintstagedrc
  src/components/dashboard/header/HeaderThemeSelect.tsx
  src/components/dashboard/modals/board/RadioInputBgImages.tsx
Due: none

chore: fix build errors
  .lintstagedrc
  src/components/dashboard/header/HeaderThemeSelect.tsx
Due: none

chore: fix build errors
  .lintstagedrc
  package.json
  yarn.lock
Due: prettier --write

chore: fix build errors
  .lintstagedrc
  package.json
Due: prettier --write

fix: remove space between file extensitions
  .lintstagedrc
  src/components/dashboard/header/HeaderThemeSelect.tsx
Due: none

fix: add keyboard navigation for selects
  src/components/dashboard/board/cards/BoardCardColumnSelect.tsx
  src/components/dashboard/header/HeaderSelect.tsx
Due: none

feat: add new filter options
  src/components/dashboard/board/Board.tsx
  src/components/dashboard/board/cards/BoardCardActions.tsx
  src/components/dashboard/board/columns/BoardColumnsItem.tsx
  src/components/dashboard/board/filters/FilterControls.tsx
  src/components/dashboard/board/filters/FilterSelect.tsx
  src/components/dashboard/board/filters/Filters.tsx
  src/components/dashboard/board/filters/PriorityFilter.tsx
  src/components/dashboard/board/filters/SortFilter.tsx
  src/components/dashboard/modals/board/RadioInputIcons.tsx
  src/components/dashboard/modals/card/ModalDescription.tsx
  src/lib/filters.ts
  src/lib/index.ts
  src/lib/json/board-icons.json
  src/lib/json/sort-filter.json
  src/redux/filter.slice.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc --noemit

chore: add tsc-files script to display ts errors in lint staged output
  .lintstagedrc
Due: none

fix: do not display filters until board fully loaded
  src/components/dashboard/board/Board.tsx
Due: none

fix: updates on services, with backend
  src/api/index.ts
  src/components/App.tsx
  src/components/dashboard/board/Board.tsx
  src/components/dashboard/board/cards/BoardCardActions.tsx
  src/components/dashboard/board/cards/BoardCardColumnSelect.tsx
  src/components/dashboard/board/columns/BoardColumnsActions.tsx
  src/components/ui/Calendar.tsx
  src/components/ui/Field.tsx
  src/components/ui/Modal.tsx
  src/config/api-endpoints.config.ts
  src/pages/DashboardPage.tsx
  src/pages/HomePage.tsx
  src/pages/SigninPage.tsx
  src/pages/SignupPage.tsx
  src/pages/index.ts
  src/redux/user.slice.ts
  src/services/auth.service.ts
  src/services/board.service.ts
  src/services/card.service.ts
  src/services/column.service.ts
  src/services/user.service.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc --noemit

fix: add type to config import in tailwind
  src/components/App.tsx
  src/components/auth/AuthFormNavigation.tsx
  src/components/dashboard/board/Board.tsx
  src/components/dashboard/board/cards/BoardCard.tsx
  src/components/dashboard/board/cards/BoardCardPriority.tsx
  src/components/dashboard/board/columns/BoardColumnsActions.tsx
  src/components/dashboard/board/columns/BoardColumnsList.tsx
  src/components/dashboard/board/filters/FilterControls.tsx
  src/components/dashboard/board/filters/Filters.tsx
  src/components/dashboard/header/Header.tsx
  src/components/dashboard/header/HeaderSelect.tsx
  src/components/dashboard/modals/NeedHelp.tsx
  src/components/dashboard/modals/board/RadioInputBgImages.tsx
  src/components/dashboard/modals/board/RadioInputIcons.tsx
  src/components/dashboard/modals/card/AddCardModal.tsx
  src/components/dashboard/modals/card/EditCardModal.tsx
  src/components/dashboard/modals/card/ModalDescription.tsx
  src/components/dashboard/modals/card/ModalPriorities.tsx
  src/components/dashboard/modals/edit-profile/EditProfileModal.tsx
  src/components/dashboard/sidebar/SidebarBoardsList.tsx
  src/components/dashboard/sidebar/SidebarLogo.tsx
  src/components/dashboard/sidebar/SidebarMyBoardsInfo.tsx
  src/components/dashboard/sidebar/SidebarUserSupport.tsx
  src/components/ui/Field.tsx
  src/components/ui/Modal.tsx
  src/components/ui/RadioInput.tsx
  src/hooks/useSignupUser.ts
  src/index.tsx
  src/pages/HomePage.tsx
  src/services/auth.service.ts
  src/services/board.service.ts
  src/services/card.service.ts
  src/services/column.service.ts
  src/services/user.service.ts
  tailwind.config.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc --noemit

fix: remove axiosClassic instance
  src/api/index.ts
  src/lib/filters.ts
  src/lib/index.ts
  src/services/auth.service.ts
  src/services/board.service.ts
  src/services/card.service.ts
  src/services/column.service.ts
  src/services/user.service.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc --noemit

feat: add useParams hook for useGetBoardId
  src/components/dashboard/board/columns/BoardColumnsList.tsx
  src/components/dashboard/modals/board/EditBoard.tsx
  src/components/dashboard/sidebar/SidebarListActiveItem.tsx
  src/hooks/useGetBoardId.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc --noemit

fix: massive updates on everything
  src/api/index.ts
  src/components/auth/SigninForm.tsx
  src/components/auth/SignupForm.tsx
  src/components/dashboard/board/cards/BoardCardActions.tsx
  src/components/dashboard/board/columns/BoardAddColumnBtn.tsx
  src/components/dashboard/board/columns/BoardColumnsActions.tsx
  src/components/dashboard/modals/NeedHelp.tsx
  src/components/dashboard/modals/board/EditBoard.tsx
  src/components/dashboard/modals/board/NewBoard.tsx
  src/components/dashboard/modals/card/AddCardModal.tsx
  src/components/dashboard/modals/card/EditCardModal.tsx
  src/components/dashboard/modals/card/ModalDescription.tsx
  src/components/dashboard/modals/edit-profile/EditAvatar.tsx
  src/components/dashboard/sidebar/Sidebar.tsx
  src/components/dashboard/sidebar/SidebarListActiveItem.tsx
  src/components/dashboard/sidebar/SidebarLogoutBtn.tsx
  src/components/ui/Button.tsx
  src/components/ui/Field.tsx
  src/components/ui/Loader.tsx
  src/hooks/auth/index.ts
  src/hooks/auth/useLogoutUser.ts
  src/hooks/auth/useSigninUser.ts
  src/hooks/auth/useSignupUser.ts
  src/hooks/board/useDeleteBoard.ts
  src/hooks/card/useAddCard.ts
  src/hooks/index.ts
  src/hooks/useGetBoardId.ts
  src/pages/DashboardPage.tsx
  src/services/auth.service.ts
  src/types/auth.types.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc --noemit

fix: update loader state on buttons
  src/components/auth/SigninForm.tsx
  src/components/auth/SignupForm.tsx
  src/components/dashboard/board/cards/BoardCardActions.tsx
  src/components/dashboard/board/columns/BoardAddColumnBtn.tsx
  src/components/dashboard/board/columns/BoardColumnsActions.tsx
  src/components/dashboard/modals/board/EditBoard.tsx
  src/components/dashboard/modals/board/NewBoard.tsx
  src/components/dashboard/modals/card/AddCardModal.tsx
  src/components/dashboard/modals/card/EditCardModal.tsx
  src/components/dashboard/modals/edit-profile/EditProfileModal.tsx
  src/components/dashboard/sidebar/SidebarListActiveItem.tsx
  src/hooks/auth/useSigninUser.ts
  src/hooks/auth/useSignupUser.ts
  src/hooks/board/index.ts
  src/hooks/board/useAddBoard.ts
  src/hooks/board/useDeleteBoard.ts
  src/hooks/board/useEditBoard.ts
  src/hooks/card/index.ts
  src/hooks/card/useAddCard.ts
  src/hooks/card/useEditCard.ts
  src/hooks/useAppMutation.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc --noemit

feat: add quietupdate tokens in background
  src/api/index.ts
  src/components/dashboard/modals/board/EditBoard.tsx
  src/components/dashboard/modals/board/NewBoard.tsx
  src/components/dashboard/modals/card/AddCardModal.tsx
  src/components/dashboard/modals/card/EditCardModal.tsx
  src/components/ui/Button.tsx
  src/redux/user.slice.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc --noemit

fix: add correct implementation for filters
  src/components/dashboard/board/columns/BoardColumnsItem.tsx
  src/components/dashboard/board/filters/PriorityFilter.tsx
  src/components/dashboard/board/filters/SortFilter.tsx
  src/lib/filters.ts
  src/redux/filter.slice.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc --noemit

chore: add error message for changing theme
  src/components/dashboard/header/HeaderThemeSelect.tsx
Due: none

fix: minor updates with loading states on adding and deleting column
  src/components/dashboard/board/columns/BoardAddColumnBtn.tsx
  src/components/dashboard/board/columns/BoardColumnsActions.tsx
  src/components/ui/Calendar.tsx
Due: none

fix: minor updates
  src/components/auth/SigninForm.tsx
  src/components/auth/SignupForm.tsx
  src/components/dashboard/board/columns/BoardAddColumnBtn.tsx
  src/hooks/board/useAddBoard.ts
  src/hooks/board/useEditBoard.ts
  src/hooks/card/useAddCard.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc --noemit

feat: add google auth
  package.json
  src/components/auth/SigninForm.tsx
  src/components/dashboard/header/HeaderUserInfo.tsx
  src/config/api-endpoints.config.ts
  src/index.tsx
  src/services/auth.service.ts
  yarn.lock
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc --noemit

fix: remove google auth provider
  src/index.tsx
Due: none

fix: remove google auth provider
  src/components/auth/SigninForm.tsx
Due: none

fix: remove drag and drop functionality
  package.json
  src/components/dashboard/board/Board.tsx
  src/components/dashboard/board/cards/BoardCardColumnSelect.tsx
  src/components/dashboard/board/columns/BoardColumnsItem.tsx
  src/components/dashboard/board/columns/BoardColumnsList.tsx
  yarn.lock
Due: prettier --write

fix: add violet hocus states on buttons
  src/components/dashboard/board/filters/FilterControls.tsx
  src/components/ui/Field.tsx
Due: none

feat: add active state for mobiles
  tailwind.config.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc --noemit

fix: add border opacity on textareas on violet theme
  package.json
  src/components/dashboard/modals/NeedHelp.tsx
  src/components/dashboard/modals/card/ModalDescription.tsx
  yarn.lock
Due: prettier --write

style: add box-shadow to filters popup
  package.json
  src/components/dashboard/board/filters/Filters.tsx
  yarn.lock
Due: prettier --write

fix: add new hooks for column
  src/components/dashboard/board/cards/BoardCardActions.tsx
  src/components/dashboard/board/cards/BoardCardColumnSelect.tsx
  src/components/dashboard/board/columns/BoardAddColumnBtn.tsx
  src/components/dashboard/board/columns/BoardColumnsActions.tsx
  src/hooks/card/index.ts
  src/hooks/card/useDeleteCard.ts
  src/hooks/column/index.ts
  src/hooks/column/useAddColumn.ts
  src/hooks/column/useChangeCardColumn.ts
  src/hooks/column/useDeleteColumn.ts
  src/hooks/column/useEditColumn.ts
  src/hooks/useAppMutation.ts
Due: prettier --write, eslint --fix -f mo, eslint -f mo, tsc --noemit

style: fixed columns list on tablet
  src/components/dashboard/board/columns/BoardColumnsItem.tsx
Due: none

style: fixed columns list height on tablets
  src/components/dashboard/board/columns/BoardColumnsItem.tsx
Due: none

Path conditions:
  prettier --write: (any of: *.{ts, tsx}) or (any of: *.json)
  eslint --fix -f mo: any of: *.{ts, tsx}
  eslint -f mo: any of: *.{ts, tsx}
  tsc --noemit: any of: *.{ts, tsx}
